/dts-v1/;

/ {
    model = "loongson,generic";
    compatible = "loongson,loongson3";
    #address-cells = <1>;
    #size-cells = <1>;

	ext: ext {
		compatible = "fixed-clock";
		#clock-cells = <0>;
	};
	
	memory: memory@0 {
		device_type = "memory";
		reg = <0x0 0x10000000>;
	};

	cpuintc: interrupt-controller {
	compatible = "loongson,cpu-interrupt-controller";
        interrupt-controller;
		#interrupt-cells = <1>;
	};

	bus_clk: bus_clk {
		compatible = "fixed-clock";
        clock-frequency = <100000000>;
		#clock-cells = <0>;
	};

	aliases {
		console = &zynq_serial0;
        serial = &zynq_serial0;
        eth = &zynq_gem3;
        mmc0 = &zynq_mmc0;
	};
};

